body {
  background-color: white;
  /* Match the Bootstrap font. */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  width: 428px;
  height: 600px;
  margin: 0;
}

div.container {
  padding: 8px;
}

div.prompt {
  background-color: rgb(86, 165, 251);
  color: white;
  padding: 18px;
}

div.images {
  margin-top: 10px;
}

div.footer {
  padding: 18px;
}

div.audio {
  width: 412px;
  height: 422px;
  display: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

u {
  cursor: pointer;
  visibility: hidden;
}

img {
  width: 100px;
  height: 100px;
  display: block;
}

table {
  border-spacing: 0;
  margin: -2px;
}

td {
  padding: 2px;
  position: relative;
}

[contenteditable='true'] {
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgrey inset;
}

[contenteditable='true']:before {
  content: "\feff ";
}

div.image-container {
  cursor: pointer;
}

button {
  /* Match Bootstrap buttons look. */
  cursor: pointer;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  float: right!important;
}

button:hover {
  background-color: #23272b;
  border-color: #1d2124;
}

button:focus {
  box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
}

button:disabled {
  background-color: #343a40;
  border-color: #343a40;
  opacity: .65;
  cursor: default;
}

span.selected {
  border: 1px solid #66bb6a;
  border-radius: 50%;
  height: 21px;
  right: 6px;
  position: absolute;
  top: 6px;
  width: 21px;
  background-color: #66bb6a;
  visibility: hidden;
}

span.selected:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 5px;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 9px;
}

.no-select {
  /* Taken from https://css-tricks.com/almanac/properties/u/user-select/. */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}