body {
  background-color: white;
  /* Match the Bootstrap font. */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0px;
}

div.full-table {
  display: table;
  width: 100%;
  height: 70px;
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.table-item {
  display: table-cell;
  vertical-align: middle;
}

div.stretch-rest {
  width: 100%;
}

span.checkbox-border {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(86, 165, 251);
  display: inline-block;
  cursor: pointer;
  margin-left: 24px;
  margin-right: 18px;
}

@keyframes success {
  /* Each 12.5% is 1 second and should result in 1 rotation. */
  0% {
    transform: rotate(0deg);
  }
  6.25% {
    border-top-color: transparent;
  }
  87.5% {
    border-top-color: transparent;
  }
  100% {
    transform: rotate(2880deg);
  }
}

@keyframes failure {
  /*
    Each 12.5% is 1 second and should result in 1 rotation.
    Perform 5 rotations followed by 2 seconds of solid red and then transition back to blue.
  */
  0% {
    transform: rotate(0deg);
  }
  6.25% {
    border-top-color: transparent;
  }
  50% {
    border-color: rgb(86, 165, 251);
    border-top-color: transparent;
  }
  62.5% {
    transform: rotate(1800deg);
    border-color: #ff727d;
  }
  87.5% {
    border-color: #ff727d;
  }
  100% {
    transform: rotate(1800deg);
  }
}

span.checkbox-border.success {
  animation-name: success;
  animation-duration: 8s;
  animation-timing-function: linear;
}

span.checkbox-border.failure {
  animation-name: failure;
  animation-duration: 8s;
  animation-timing-function: linear;
}

.no-select {
  /* Taken from https://css-tricks.com/almanac/properties/u/user-select/. */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}